<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>view data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Tampilkan struk pembayaran</h3>
        <hr>
        
        <p> Nama Buah : <b th:text="${nb}"><br>
        <p> Harga Perkilo : Rp <b th:text="${hk}"><br>
        <p> Jumlah Beli : <b th:text="${jhbeli}"><br>
        <p> Harga : Rp <b th:text="${harga}"><br>
        <p> Potongan Harga : <b th:text="${ph}"><br>
        <p> Jumlah Potongan Harga : Rp <b th:text="${jph}"><br>
        <p> Total Harga : Rp <b th:text="${tot_harga}"></b>

    </body>
</html>
